export(BicZ)
export(calcul_BIC_mixmod)
export(cleanYtest)
export(cleanZ)
export(cleanZR2)
export(comparaison_struct)
export(comparateur0_vect)
export(comparateursign_vect)
export(correg)
export(generateur_melange)
export(hatB)
export(MSE_loc)
export(R2Z)
export(readY)
export(readZ)
export(rechercheZ)
export(Winitial)
useDynLib(CorReg)
