export(BicZ)
export(MSEZ)
export(MSE_loc)
export(OLS)
export(R2Z)
export(WhoIs)
export(Winitial)
export(calcul_BIC_mixmod)
export(cleanYtest)
export(cleanZ)
export(cleanZR2)
export(cleancolZ)
export(comparaison_struct)
export(comparateur0_vect)
export(comparateursign_vect)
export(correg)
export(generateurA_ou)
export(generateur_Y)
export(generateur_melange)
export(hatB)
export(log_manager)
export(merge_logs)
export(newhatB)
export(readY)
export(readZ)
export(rechercheZ)
useDynLib(CorReg)
