export(BicZ)
export(BicZcurve)
export(CVMSE)
export(MSEZ)
export(MSE_loc)
export(OLS)
export(ProbaZ)
export(R2Z)
export(WhoIs)
export(Winitial)
export(Y_generator)
export(cleanYtest)
export(cleanZ)
export(cleanZR2)
export(cleancolZ)
export(compare_sign)
export(compare_struct)
export(compare_zero)
export(confint_coef)
export(correg)
export(density_estimation)
export(hatB)
export(mixture_generator)
export(readY)
export(readZ)
export(recursive_tree)
export(searchZ)
export(searchZ_sparse)
export(showdata)
import(MASS)
import(Matrix)
import(Rcpp)
import(Rmixmod)
import(clere)
import(corrplot)
import(elasticnet)
import(lars)
import(mclust)
import(parcor)
import(ridge)
import(rpart)
import(spikeslab)
useDynLib(CorReg)
